@media (max-width: 992px) {
	.picf-two-first,
	.picf-two-second,
	.picf-two-third{
		height: 60px;
	}
	.produ-purchase-items{
		width: 100%;
	}
}
@media (max-width: 924px) and (min-width: 768px) {
	.header-navbar{
		display: none;
	}
}
